<% provide(:title, "About") %>

<div class="middle">
  
  <h3>About the Muffin's Blog</h3>
  <br>
  <p>
    In this blog page, you will peer into the world of your truly, Evilmuffin,
    and his little demonic spwan, The Munchkin From Hell.
    
    It documents many daily (in)activities and (mis)adventures as well as our 
    individule view of each even.
  </p>
  
</div>
