<div class="middle" style="text-align: left;">
  <h3>Personal</h3>
  <p>
    Au (Leo) Lee, a.k.a. Evilmuffin, is just your (ab)normal geeky guy who 
    resides in New York City.  He enjoy many things inlcuding badminton, video 
    games and reading (SciFi novels and 武俠小說).
  </p>
  <br>
  <br>
  <h3>Professional</h3>
  <p>
    He started his programing day back in 2005 as an area builder for 
    <%= link_to "StrangeMUD&trade;".html_safe, "http://www.strangemud.net", 
    :target => "blank", class: "orange_link" %> 
    (a MUD or Multi-User-Dungeon).  Since then, he had created 12 unique new 
    areas as well as updated a few older ones.  Thanks to StrangeMUD&trade; 
    he had taugh himself many fundermental skills being a programer.<br>
    <br>
    Now looking to focus on becoming a Full Stack Web Developer,  he enjoy 
    learning and figuring out new ways to solve difficult problems, seeing these 
    new challenges as potential ways to enrich himself.

  </p>
</div>
