<div class="middle" style="text-align: left;">
  <h3>Personal</h3>
  <p>
    Munchkin is the son of Evilmuffin.  He enjoys many things such as eating 
    junk food (thanks to Mrs. Evilmuffin), playing with his friends and 
    ordering his parents around. (Daddy Daddy!  Play racket with me!  *GROAN*)
  </p>
  <br>
  <br>
  <h3>Professional</h3>
  <p>
    Munchkin is also a professional home destroyer.  Ever since he started
    crawing, the house has not been able to maintain its adequate living
    condition for more than 5 mins after being clean up.
  </p>

</div>