<% provide(:title, "Welcome!") %>
<div class="middle center">
    
  <h2>Hello Evilmuffin!</h2>
  <br>
  <br>
  <p>What would you like to do today?</p>
  <br>
  <%= link_to "New Entry", new_entry_path, class: "btn btn-primary" %>

</div>
    