<div class="row middle">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@blog, html: {multipart: true}) do |f| %>
      <%= render 'shared/errors', object: f.object %>
      <div class="blog_form">
        <%= f.label :picture, "Picture Upload" %>
        <% if @blog.picture? %>
          <%= image_tag @blog.picture, size: "415x415", class: "crop" %>
          <span>
            Remove Picture
          </span>
          <%= f.check_box :remove_picture%>
          <br><br>
        <% else %>
          <div id="button_upload">
            <%= f.file_field :picture %>
          </div>
        <% end %>
        <%= f.label :event_date, "Event's Date" %>
        <div>
          <%= f.date_select :event_date, {order: [:month, :day, :year]} %>
          <br></br>
        </div>
        <%= f.label :blog_muffin, "Muffin's thought" %>
        <%= f.text_area :blog_muffin, class: "form_control" %>
        <%= f.label :blog_munchkin, "Munchkin's thought"%>
        <%= f.text_area :blog_munchkin, class: "form_control" %>
        <%= f.submit yield(:button), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

