<div class="home_container">
  <div class="random_and_recent_box">
    <div class="feature_header">
      Feature Entries
    </div>
    <div class="random_container">
      <% if @random_blogs.first.nil? %>
        <figure>
          
        </figure>
      <% elsif @random_blogs.first.pic_horizontal %>
        <figure>
          <%= link_to blog_path(@random_blogs.first) do %>
            <%= image_tag(@random_blogs.first.picture, size: "725x408", 
                          class: "picture_padding") %>
            <%= content_tag :figcaption, @random_blogs.first.event_date, 
                            class: "random_figcaption_large_landscape" %>
          <% end %>
        </figure>
        <% @random_blogs.shift %>
        <ul>
          <% @random_blogs.each do |blog| %>
            <li class="float_left">
              <figure>
                <%= link_to blog_path(blog) do %>
                  <%= image_tag(blog.picture, size: "360x272", 
                                class: "crop picture_padding_random") %>
                  <%= content_tag :figcaption, blog.event_date, 
                                  class: "random_figcaption_landscape" %>
                <% end %>
              </figure>
            </li>
          <% end %>
        </ul>
      <% else %>
        <figure>
          <%= link_to blog_path(@random_blogs.first) do %>
            <%= image_tag(@random_blogs.first.picture, size: "385x685", 
                          class: "picture_padding_float_left") %>
            <%= content_tag :figcaption, @random_blogs.first.event_date, 
                            class: "random_figcaption_large_portriat" %>
          <% end %>
        </figure>
        <% @random_blogs.shift %>
        <ul>
          <% @random_blogs.each do |blog| %>
            <li class="no_float">
              <%= link_to blog_path(blog) do %>
                <%= image_tag(blog.picture, size: "335x335", class: "crop") %>
                <%= content_tag :figcaption, blog.event_date, 
                                class: "random_figcaption_portriat" %>
              <% end %>
            </li>
        <% end %>
        </ul>
        
      <% end %>
    </div>
    <div class="recent_header">
      Recent Entries
    </div>
    <div class="recent_container">
      <div class="recent_container_pictures">
        <ul>
          <% @recent_blogs.each do |blog| %>
            <li>
              <div>
                <figure>
                  <%= link_to blog_path(blog) do %>
                    <%= image_tag(blog.picture, size: "235x235", 
                                                class: "crop") %>
                    <%= content_tag :figcaption, blog.event_date, 
                                                 class: "recent_figcaption" %>
                  <% end %>
                </figure>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="all_entries_box">
    <div class="all_entries_heading">
      All Entries
    </div>
    <div class="all_entries">
      <ol>
        <% @blogs.each do |blog| %>
          <li>
            <%= link_to blog.event_date, blog_path(blog), 
                                         class: "orange_link" %>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
</div>

