<div >
  <div class="middle" data-no-turbolink>
    <% n = 0 %>
    <% @blogs.each do |blog| %>
      <ul>
        <li>
          <% if blog.pic_horizontal == true || !blog.picture? %>
            <div>
              <div class="blog_date">
                <h3><%= blog.event_date.try(:strftime, "%B %d, %Y" ) %></h3>
              </div>
              <% if blog.picture? %>
                <div class="add_margin_bottom">
                  <%= link_to image_tag(blog.picture.url, width: "889"), 
                                        blog_path(blog) %>
                </div>
              <% end %>
              <div class="comment_and_button">
                <div class="blog_comments">
                  <div class="blog_heading">
                    <span id="heading<%= n %>">
                      Muffin's Thought
                    </span>
                    <% if !blog.blog_munchkin.blank? %>
                      <button class="clicky_blog"
                              data-blogid="blog<%= n %>"
                              data-headingid="heading<%= n %>"
                              data-thoughtid="thought<%= n %>"
                              data-muffin="<%= blog.blog_muffin %>"
                              data-munchkin="<%= blog.blog_munchkin %>"
                              data-click-state="muffin"
                              id="thought<%= n %>">
                        Go to Munchkin's World
                      </button>
                    <% end %>
                  </div>
                  <div class="comment" id="blog<%= n %>" 
                       data-comments="<%= blog_path(blog) %> #load_comments">
                    <%= blog.blog_muffin %>
                  </div>
                </div>
                <% if current_user && current_user.admin %>
                  <div class="edit_delete center">
                    <%= link_to "Edit", edit_blog_path(blog), 
                                        class: "orange_link" %>
                    |
                    <%= link_to "Delete", blog, method: :delete, 
                                          data: { confirm: "Are you sure?"},
                                          class: "orange_link" %>
                  </div>
                <% end %>
                <div class="fb_comments_box">
                  <div id="comments_landscape<%= n %>" 
                       class="fb_comments_container_landscape_index 
                              fb_comments_index<%= n %>" 
                       data-path=<%= "http://rails-tutorial-evilmuffin.c9users.io" + 
                                     blog_path(blog) %>></div>
                  <!-- use my c9.io path because fb-comments blocks herokuapp.com -->
                </div>
              </div>
            </div>
            <div class="blog_divider"></div>
          <% else %>
            <div>
              <div class="blog_date">
                <h3><%= blog.event_date.try(:strftime, "%B %d, %Y" ) %></h3>
              </div>
            </div>
            <div class="image_vertical">
              <%= link_to image_tag(blog.picture.url, height: "870" ), 
                                    blog_path(blog) %>
            </div>
            <div class="blog_vertical">
              <div class="comment_and_button fixed_height">
                <div class="blog_comments">
                  <div class="blog_heading">
                    <span id="heading<%= n %>">
                      Muffin's Thought
                    </span>
                    <% if !blog.blog_munchkin.blank? %>
                      <button class="clicky_blog"
                              data-blogid="blog<%= n %>"
                              data-headingid="heading<%= n %>"
                              data-thoughtid="thought<%= n %>"
                              data-muffin="<%= blog.blog_muffin %>"
                              data-munchkin="<%= blog.blog_munchkin %>"
                              data-click-state="muffin"
                              id="thought<%= n %>">
                        Go to Munchkin's World
                      </button>
                    <% end %>
                  </div>
                  <div class="comment" id="blog<%= n %>" 
                       data-comments="<%= blog_path(blog) %> #load_comments">
                    <%= blog.blog_muffin %>
                  </div>
                </div>
                <% if current_user && current_user.admin %>
                  <div class="edit_delete center">
                    <%= link_to "Edit", edit_blog_path(blog), 
                                        class: "orange_link" %>
                    |
                    <%= link_to "Delete", blog, method: :delete, 
                                          data: { confirm: "Are you sure?"},
                                          class: "orange_link" %>
                  </div>
                <% end %>
                <div class="fb_comments_box">
                  <div id="comments_portrait<%= n %>" 
                       class="fb_comments_container_portrait_index 
                               fb_comments_index<%= n %>" 
                       data-path=<%= "http://rails-tutorial-evilmuffin.c9users.io" + 
                                     blog_path(blog) %>></div>
                 <!-- use my c9.io path because fb-comments blocks herokuapp.com -->
                </div>
            </div>
            <div class="blog_divider"></div>
          <% end %>
        </li>
      </ul>
      <% n += 1 %>
    <% end %>
    
    <%= will_paginate @blogs, page_links: false, previous_label: "Newer", 
                              next_label: "Older", class: "center" %>
  </div>
</div>


<script>
  $(document).ready(function(){
    for (var counter = 0; counter < 5; counter ++ ) {
      var path = $(".fb_comments_index" + counter).data('path');
      $("#comments_landscape" + counter).html("<div class='fb-comments' data-href=" + path + " data-num-posts='5' data-width='830px'></div>");
      $("#comments_portrait" + counter).html("<div class='fb-comments' data-href=" + path + " data-num-posts='5' data-width='330px'></div>");
      /*
      $("#comments" + counter).load($("#blog" + counter).data('comments'));
      */
    };
  });
</script>