<% provide(:title, "Entries") %>
<% provide(:button, "Enter") %>
<div class="blog_show">
  <% if @blog.pic_horizontal == true || !@blog.picture? %>
    <div class="blog_date">
      <h3><%= @blog.event_date.try(:strftime, "%B %d, %Y" ) %></h3>
    </div>
    <% if @blog.picture? %>
      <div>
        <%= link_to image_tag(@blog.picture.url, width: "889"), 
                              picture_path(@blog) %>
      </div>
    <% end %>
    <div class="comment_and_button">
      <div class="blog_comments">
        <div class="blog_heading" id="muffins_thought_heading">
          Muffin's Thought
        </div>
        <div class="comment add_margin_bottom_small" id="muffins_thought_comment">
          <%= @blog.blog_muffin %>
        </div>
        <% if !@blog.blog_munchkin.empty? %>
          <div class="blog_heading_gray" id="munchkins_thought_heading">
            Munchkin's World
          </div>
          <div class="comment_gray" id="munchkins_thought_comment">
            <%= @blog.blog_munchkin %>
          </div>
        <% end %>
      </div>
      <% if current_user && current_user.admin %>
        <div class="edit_delete center">
          <%= link_to "Edit", edit_blog_path(@blog), 
                              class: "orange_link" %>
          |
          <%= link_to "Delete", @blog, method: :delete, 
                                data: { confirm: "Are you sure?"},
                                class: "orange_link" %>
        </div>
      <% end %>
      <div class="blog_comments" id="load_comments">
        <div class="fb_comments_container_landscape">
          <div class="fb-comments" 
               data-href="<%= "http://rails-tutorial-evilmuffin.c9users.io" + 
               request.path %>" data-width="830px" data-numposts="5">
          </div>
          <!-- use my c9.io path because fb-comments blocks herokuapp.com -->
        </div>
        <!--
        <div class="blog_heading">
          Comments
          <span><%= " | " if !current_user %></span>
          <span class="small_font">
            <%= "To comment, sign in with #{ 
                  link_to image_tag('facebook.png', size: '15x15'), 
                  '/auth/facebook'
                }".html_safe if !current_user %>
          </span> 
        </div>
        <% if !@blog.comments.empty? %>
          <% @blog.comments.each do |comment| %>
            <div class="comments_display">
              <%= image_tag(comment.user.avatar, size: "30x30") %>
              <span class="commenter">
                <%= link_to comment.user.name, 
                    "https://www.facebook.com/#{comment.user.uid}", 
                    target: "blank", class: "orange_small_link_bold" %>:
              </span>
              <span class="timestamp">
                Comment posted <%= time_ago_in_words(comment.created_at) %>
              </span>
              <span class="comment_content"><%= comment.content %>
                <% if current_user && ( current_user?(comment.user) || current_user.admin ) %>
                  <span class="orange_text">(
                    <%= link_to "edit", edit_blog_comment_path(comment.blog, comment),
                                        class: "orange_small_link" %>
                    |
                    <%= link_to "delete", [comment.blog, comment],
                                          data: { confirm: "Are you sure?"},
                                          :method => :delete, 
                                          class: "orange_small_link" %>
                    )
                  </span>
                <% end %>
              </span>
            </div>
          <% end %>
        <% else %>
          <div class="comments_display">
            Be the first to comment!
          </div>
        <% end %>
        <% if current_user %>
          <div class="blog_heading add_margin_top">
            Add a Comment
          </div>
          <%= render "comments/form" %>
        <% end %>
        -->
      </div>
    </div>
    <div class="blog_divider"></div>
  <% else %>
    <div class="blog_date">
      <h3><%= @blog.event_date.try(:strftime, "%B %d, %Y" ) %></h3>
    </div>
    <div class="image_vertical">
      <%= link_to image_tag(@blog.picture.url, height: "870" ), 
                            picture_path(@blog) %>
    </div>
    <div class="blog_vertical">
      <div class="comment_and_button fixed_height">
        <div class="blog_comments">
          <div class="blog_heading" id="muffins_thought_heading">
            Muffin's Thought
          </div>
          <div class="comment add_margin_bottom_small" id="muffins_thought_comment">
            <%= @blog.blog_muffin %>
          </div>
          <% if !@blog.blog_munchkin.empty? %>
            <div class="blog_heading_gray" id="munchkins_thought_heading">
              Munchkin's World
            </div>
            <div class="comment_gray"% id="munchkins_thought_comment">
              <%= @blog.blog_munchkin %>
            </div>
          <% end %>
        </div>
        <% if current_user && current_user.admin %>
          <div class="edit_delete center">
            <%= link_to "Edit", edit_blog_path(@blog), 
                                class: "orange_link" %>
            |
            <%= link_to "Delete", @blog, method: :delete, 
                                  data: { confirm: "Are you sure?"},
                                  class: "orange_link" %>
          </div>
        <% end %>
        <div class="blog_comments" id="load_comments">
          <!--
          <div class="blog_heading">
            Comments
            <span><%= " | " if !current_user %></span>
            <span class="small_font">
              <%= "To comment, sign in with #{ 
                    link_to image_tag('facebook.png', size: '15x15'), 
                    '/auth/facebook'
                  }".html_safe if !current_user %>
            </span> 
          </div>
          -->
          <div class="fb_comments_container_portrait">
            <div class="fb-comments" 
                 data-href="<%= "http://rails-tutorial-evilmuffin.c9users.io" + 
                   request.path %>" data-width="330px" data-numposts="5">
            </div>
            <!-- use my c9.io path because fb-comments blocks herokuapp.com -->
          </div>
          <!--
          <% if !@blog.comments.empty? %>
            <% @blog.comments.each do |comment| %>
              <div class="comments_display">
                <%= image_tag(comment.user.avatar, size: "30x30") %>
              <span class="commenter">
                <%= link_to comment.user.name, 
                    "https://www.facebook.com/#{comment.user.uid}", 
                    target: "blank", class: "orange_small_link_bold" %>:
              </span>
              <span class="timestamp">
                Comment posted <%= time_ago_in_words(comment.created_at) %>
              </span>
              <span class="comment_content"><%= comment.content %>
                <% if current_user && ( current_user?(comment.user) || current_user.admin ) %>
                  <span class="orange_text">(
                    <%= link_to "edit", edit_blog_comment_path(comment.blog, comment),
                                        class: "orange_small_link" %>
                    |
                    <%= link_to "delete", [comment.blog, comment],
                                          data: { confirm: "Are you sure?"},
                                          :method => :delete, 
                                          class: "orange_small_link" %>
                    )
                  </span>
                <% end %>
              </span>
              </div>
            <% end %>
          <% else %>
            <div class="comments_display">
              Be the first to comment!
            </div>
          <% end %>
          <% if current_user %>
            <div class="blog_heading add_margin_top">
              Add a Comment
            </div>
            <%= render "comments/form" %>
          <% end %>
          -->
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  $(document).ready(function(){
    var mth = "#muffins_thought_heading";
    var mtc = "#muffins_thought_comment";
    var mkth = "#munchkins_thought_heading";
    var mktc = "#munchkins_thought_comment";
    var bhg = "blog_heading_gray";
    var bh = "blog_heading";
    var cmg = "comment_gray";
    var cm = "comment";
    function switchClass(id, class_in, class_out){
      $(id).addClass(class_in);
      $(id).removeClass(class_out);
    };
    function muffinSwitchClass(){
      switchClass(mth, bhg, bh);
      switchClass(mtc, cmg, cm);
      switchClass(mkth, bh, bhg);
      switchClass(mktc, cm, cmg);
    };
    function munchkinSwitchClass(){
      switchClass(mth, bh, bhg);
      switchClass(mtc, cm, cmg);
      switchClass(mkth, bhg, bh);
      switchClass(mktc, cmg, cm);
    };
    $(mkth).mouseover(function(){
      muffinSwitchClass();
    });
    $(mktc).mouseover(function (){
      muffinSwitchClass();
    });
    $(mth).mouseover(function (){
      munchkinSwitchClass();
    });
    $(mtc).mouseover(function (){
      munchkinSwitchClass();
    });
  });
</script>