<%= form_for([@blog, @blog.comments.build], html: {multipart: true}) do |f| %>
<%= render 'shared/errors', object: f.object %>
  <div class="comment_form">
    <%= f.text_area :content, placeholder: "Maximum 150 characters...",
                              class: "form_control" %>
    <%= f.submit yield(:button), class: "btn" %>
  </div>
<% end %>
