<% provide(:title, "Edit Comment") %>
<% provide(:button, "Edit") %>

<div class="col-md-6 col-md-offset-3">
  <div class="blog_comments">
    <div class="blog_heading">
      Edit Comment
    </div>
    <%= form_for([@blog, @comment], html: {multipart: true}) do |f| %>
      <%= render 'shared/errors', object: f.object %>
      <div class="comment_form">
        <%= f.text_area :content, placeholder: "Maximum 150 characters...",
                                  class: "form_control" %>
        <%= f.submit yield(:button), class: "btn" %>
      </div>
    <% end %>
  </div>
  
</div>
