<div class="middle center">
  <% if @blogs.any? %>
    <% @blogs.each do |blog| %>
      <span>
        <%= link_to image_tag(blog.picture, size: "287x287", class: "crop"), picture_path(blog)  %>
      </span>
    <% end %>
  <% end %>
  <%= will_paginate @blogs, page_links: false, previous_label: "Newer", 
                            next_label: "Older", class: "center" %>
</div>