<% new_path = picture_path(@newer_blog) %>
<% old_path = picture_path(@older_blog) %>
<div class="picture_show">
  <% if @blog.pic_horizontal %>
    <div class="relative_position">
      <%= image_tag @blog.picture, :usemap => "#landscape" %>
      <map name="landscape">
        <area shape="rect" coords="0,0,195,500" class="pointer"
              id="newer">
        <area shape="rect" coords="695,0,889,500" class="pointer"
              id="older">
      </map>
      <div id="newer_link" data-path="<%= new_path %>">
        🢔
      </div>
      <div id="older_link" data-path="<%= old_path %>">
        🢖
      </div>
    </div>
  <% else %>
    <div id="newer_portrait">
      <div id="newer_portrait_link" data-path="<%= new_path %>">
        <div class="center portrait_pointer">
          🢔
        </div>
      </div>
    </div>
    <div class="picture_show_vertical" >
      <%= image_tag @blog.picture %>
    </div>
    <div id="older_portrait">
      <div id="older_portrait_link" data-path="<%= old_path %>">
        <div class="center portrait_pointer">
          🢖
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  $(document).ready(function(){
    
    function poofIn(id, timer){
      $(id).fadeIn(timer);
    };
    
    function showLink(id1, id2, timer){
      $(id1).mouseover(function(){
        poofIn(id2, timer);
      });
      $(id2).mouseout(function(){
        $(this).fadeOut(timer);
      });
    };
    
    function loadPage(id){
      $(id).click(function(){
      window.location = $(this).data('path');
      });
    };
    
    showLink("#newer", "#newer_link", 100);
    showLink("#older", "#older_link", 100);
    showLink("#newer_portrait", "#newer_portrait_link", 100);
    showLink("#older_portrait", "#older_portrait_link", 100);
    loadPage("#newer_link");
    loadPage("#older_link");
    loadPage("#newer_portrait_link");
    loadPage("#older_portrait_link");
    
  });
</script>