// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* mixins, variables, etc. */
$orange: #CD2C00;
$georgia: Georgia, serif;

.blog_show {
  width: 889px; 
  margin: 30px auto;
}

.blog_heading {
  background: black; 
  padding-left: 5px; 
  color: white; 
  font-size: 1.1em; 
  border-left: 3px solid red;
  -webkit-transition-property: font-size;
  -webkit-transition-duration: 0.2s;
  transition-property: font-size;
  transition-duration: 0.2s;
  img {
    vertical-align: top;
    margin-top: 4px;
  }
}

.blog_heading_gray {
  background: black; 
  padding-left: 5px; 
  color: gray; 
  font-size: 0.8em; 
  border-left: 3px solid red;
  -webkit-transition-property: font-size;
  -webkit-transition-duration: 0.2s;
  transition-property: font-size;
  transition-duration: 0.2s;
}

.comment {
  font-size: 1em;
  font-family: $georgia;
  margin-top: 10px;
  background: white; 
  color: black;
  padding: 0 10px 5px; 
  margin-top: 0px; 
  border-left: 3px solid red; 
  border-bottom: 1px solid red;
  -webkit-transition-property: font-size;
  -webkit-transition-duration: 0.2s;
  transition-property: font-size;
  transition-duration: 0.2s;
}

.comment_gray {
  font-size: 0.8em;
  color: gray;
  font-family: $georgia;
  margin-top: 10px;
  margin-bottom: 5px;
  background: white; 
  padding: 0 10px 5px; 
  margin-top: 0px; 
  border-left: 3px solid red; 
  border-bottom: 1px solid red;
  -webkit-transition-property: font-size;
  -webkit-transition-duration: 0.2s;
  transition-property: font-size;
  transition-duration: 0.2s;
}

.comments_display {
  background: white; 
  color: black; 
  font-size: 0.8em; 
  padding: 5px 10px;
  img {
    float: left;
    margin-right: 10px;
  }
  .commenter {
    color: red; 
    font-weight: bold;
  }
  .timestamp{
    color: gray;
    margin-left: 4px;
  }
  .comment_content {
    display: block;
  }
}

.blog_comments {
  font-family: $georgia;
  background: #575757;
  margin: 5px 0; 
  padding: 5px;
  max-height: 715px;
  .fb_comments_container_portrait {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 700px;
    background: white;
    .fb-comments {
      margin-left: -1px;
    }
  }
  .fb_comments_container_landscape {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 350px;
    background: white;
    .fb-comments {
      margin-left: -1px;
    }
  }
}


.fb_comments_box {
  background: #575757;
  margin: 5px 0;
  padding: 5px;
  max-height: 747px;
  .fb_comments_container_portrait_index {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 732px;
    background: white;
    .fb-comments {
      width: 340px;
      margin-left: -1px;
    }
  }
  
  .fb_comments_container_landscape_index {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 350px;
    background: white;
    .fb-comments {
      width: 840px;
      margin-left: -1px;
    }
  }
}

.comment_and_button {
  background: -webkit-linear-gradient(left, #373737, #202020);
  background: -o-linear-gradient(left, #373737, #202020);
  background: -moz-linear-gradient(left, #373737, #202020);
  background: linear-gradietn(to left, #373737, #202020);
  padding: 10px 20px;
}

.blog_date {
  margin-top: 5px;
  padding: 1px 10px 5px;
  background: white;
  border-left: 4px solid red;
  border-bottom: 2px solid red;
}

.blog_form {
  font-size: 1em;
  color: $orange;
  font-family: $georgia;
  #blog_remove_picture {
    margin: 4px -190px 0;
  }
  span {
    font-weight: bold;
  }
}

.image_vertical {
  float: left;
}

.blog_vertical {
  margin-left: 500px;
  height: 870px;
}

.blog_divider {
  width: 870px; 
  border-bottom: 1px solid #3A3A3A; 
  margin: 30px auto 0;
}

.edit_delete {
  background: black; 
  width: 100px; 
  border-radius: 5px; 
  border: 1px solid white; 
  font-size: 0.8em;
}

.clicky_blog {
  float: right;
  font-size: 0.6em;
  color: $orange;
  border-radius: 5px;
  border: 1px solid $orange;
  background-color: white;
  margin-top: 5px;
  margin-right: 2px;
  width: 168px;
  transition: 0.5s;
  &:hover {
    color: red;
    border: 1px solid white;
  }
}

span {
  .orange_link {
    font-size: 0.7em;
    cursor: pointer;
  }
}

#button_upload {
  input {
    border: none;
  }
  .btn {
    border: none;
    font-family: $georgia;
    width: 100px;
  }
  .btn-primary {
    background: $orange;
    color: white;
  }
  
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, 
                      .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: white;
    color: $orange;
    text-decoration: none;
    border: none;
  }
}

.crop {
  margin-top: 5px;
  object-fit: cover;
}

