// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment_form {
  .btn {
    background: white;
    color: red;
    border: 1px solid red;
    &:hover {
      background: red;
      color: white;
      border: 1px solid white;
    }
  }
}