@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
$orange: #CD2C00;
$georgia: Georgia, serif;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* Globle */

h1 {
  color: #CB6C3D;
  text-align: center;
  font-family: $georgia;

  font-size: 3.2em;
  letter-spacing: -2px;
  overflow: hidden;
}

h2 {
  color: white;
  font-size: 1.6em;
  text-align: center;
  font-family: $georgia;
}

h3 {
  color: $orange;
  font-family: $georgia;
}

p {
  font-size: 1.2em;
  color: white;
  font-family: $georgia;
}

.text_stroke {
  color: white;
  text-shadow: -1px -1px #000000,
               -1px 1px #000000,
               1px 1px #000000,
               1px -1px #000000;
}

.orange_text {
  color: $orange;
  font-family: $georgia;
}

.red_text {
  color: red;
  font-family: $georgia;
}

.white_text {
  color: white;
  font-family: $georgia;
}

.black_text {
  color: black;
  font-size: 0.9em;
}

.small_font {
  font-size: 0.6em;
}

.pointer {
  cursor: pointer;
}

li {
  list-style: none;
  font-size: 1.2em;
  color: white;
  font-family: $georgia;
}

small {
  text-decoration: none;
  color: $orange;
  font-family: $georgia;
}

body {
  background-color: black;
  height: 100%;
}

.center {
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
  &:hover {
    color: $orange;
    text-decoration: none;
  }
  &:after {
    text-decoration: none;
  }
  &:active {
    color: $orange;
    text-decoration: none;
  }
}

.orange_link {
  color: $orange;
  text-decoration: none;
  &:hover {
    color: red;
  }
  &:active {
    color: red;
  }
}

.orange_small_link_bold {
  color: $orange;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  &:hover {
    color: red;
  }
  &:active {
    color: red;
  }
}

.orange_small_link {
  color: $orange;
  text-decoration: none;
  font-size: 1em;
  &:hover {
    color: red;
  }
  &:active {
    color: red;
  }
}

.middle {
  padding-top: 30px;
  width: 890px;
  margin: 0 auto;
  overflow: hidden;
  li {
    margin-left: -40px;
  }
}

.add_margin_top {
  margin-top: 10px;
}

.add_margin_right {
  margin-right: 5px;
}

.add_margin_bottom_small {
  margin-bottom: 5px;
}

.add_margin_bottom {
  margin-bottom: 10px;
}

.fixed_height {
  height: 870px;
}

.relative_position {
  position: relative;
}

#main_panel {
  min-height: 100%;
  margin-top: 132px;
}

.gray_wrapper {
  background-color: #202020;
}

#error_explanation {
  ul {
    margin: 0 0 30px 0;
    li {
    font-size: 0.8em;
    font-family: $georgia;
    color: red;
    margin-left: -40px;
    }
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* bootstrap modification */

.container {
  padding-bottom: 30px;
}

.btn {
  border: none;
  font-family: $georgia;
  width: 120px;
}
.btn-primary {
  background: $orange;
  color: white;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, 
                    .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: white;
  color: $orange;
  text-decoration: none;
  border: none;
  font-weight: bold;
}

/* paginate modification */

.pagination {
  width: 870px;
  li a {
    background: white;
    color: red;
    border: 1px solid red;
    &:hover {
      background: red;
      color: white;
      border: 1px solid white;
    }
  }
}

.pagination li:first-child a, .pagination li:first-child span {
  float: left;
  border-radius: 0px;
}

.pagination li:last-child a, .pagination li:last-child span {
  float: right;
  border-radius: 0px;
}


/* header */


header {
  height: 80px;
  background: white;
  margin: 0 auto;
}

#header_style {
  background: white; 
  height: 80px;
/*  border-bottom: 5px solid $orange; */
}

/*
.header_buttons {
  display: inline;
  margin: 0 -2px;
  .btn {
    border-top: 1px solid $orange;
    border-radius: 0px;
    font-size: 1.1em;
    font-family: $georgia;
    width: 120px;
  }
  .btn-primary {
    background: white;
    color: $orange;
    -webkit-transition-property: background color border-top;
    -webkit-transition-duration: 0.5s;
    transition-property: background color border-top;
    transition-duration: 0.5s;

  }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, 
                      .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: black;
    color: $orange;
    font-size: 1.1em;
    border-top: 1px solid black;
    text-decoration: none;
    font-weight: normal;
    text-align: -2px;
  }
}

.header_buttons_active {
  display: inline;
  margin: 0 -2px;
  .btn {
    border-top: 1px solid black;
    border-radius: 0px;
    font-family: $georgia;
    font-size: 1.1em;
    width: 120px;
  }
  .btn-primary {
    background: black;
    color: $orange;
    -webkit-transition-property: background color border-top;
    -webkit-transition-duration: 0.5s;
    transition-property: background color border-top;
    transition-duration: 0.5s;
    border-top: 1px solid black;
  }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, 
                      .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: black;
    color: $orange;
    text-decoration: none;
    font-weight: normal;
    border-top: 1px solid black;
  }
}

.dropdown-menu {
  margin-top: 9px;
  border-radius: 0px;
  min-width: 0px;
  width: 120px;
  li {
   
    a {
      padding: 4px 0;
      text-align: center;
      color: $orange;
    }
  }
}
*/

/* navbar */

.main_navbar {
  margin: 80px auto 0;
  height: 50px;
  background: black;
  width: 890px;
  border-bottom: 2px solid red;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    float: left;
    background-color: black;
    line-height: 10px;
    margin-top: 5px;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 5px solid transparent;
    transition: 0.5s;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    border-bottom: 5px solid white;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: black;
      min-width: 100px;
      border-left: 2px solid red;
      border-bottom: 2px solid red;
      border-right: 2px solid red;
      margin-left: -13px;
/*      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5); */
  }
  
  .dropdown-content a {
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: center;
  }
  
  .dropdown-content a:hover {
    background-color: white;
    border-bottom: 5px solid transparent;
    color: $orange;
  }
  
  .dropdown:hover .dropdown-content {
      display: block;
  }
  
  .active_button {
    a {
      border-bottom: 5px solid white;      
    }
    .dropdown-content a {
      border-bottom: 5px solid transparent;
    }
  }
  
}

.sign_in_as {
  float: left;
  width: 120px;
  margin-left: 130px;
  margin-top: 10px;
}

.icons {
  float: right;
  margin-top: 2px;
  width: 125px;
  ul {
    margin-top: -7px;
    li a { 
      border-bottom: 0px solid transparent;
      padding: 1px 3px;
      i {
        font-size: 1.4em;
      }
    }
    li a:hover {
      border-bottom: 0px solid transparent;
    }
  }
  .fb_like_and_share {
    margin: 30px 2px 0;
  }
}


/* alert */

.alert {
  width: 889px;
  margin: 10px auto 0;
  border-radius: 0px;
}

/* main body */

/* left panel

.clicky {
  padding-top: 150px;
  margin-right: 5px;
  float: right;
}

.button_over {
  margin-left: -14px;
  padding: 13px 0 13px 14px;
  border-top: 1px solid $orange;
  border-bottom: 1px solid $orange; 
  border-left: 1px solid $orange;
}

.button_out {
  margin-left: -14px;
  padding: 14px 0 14px 14px;
}

.button_space {
}

.sign_in_out {
  margin-top: 25vh;
}
*/

/* footer */
/*
footer {
  height: 30px;
  overflow: none;
}

#footer_style {
  background: black; 
  margin-left: 165px; 
  height: 30px
}

#footer_links {
  padding-right: 53px;
  padding-top: 3px;
  border-top: 1px solid $orange;
  float: right;
  font-family: $georgia;
  background-color: black;
  ul {
    float: right;
    list-style: none;
    margin-right: 10px;
    li {
      font-size: 1em;
      float: left;
      margin-left: 25px;
    }  
  }
}
*/


.testing{
    
margin: 19px 28px;    
}
.testing div{
    cursor:pointer;
    text-decoration:underline;
}


/* forms */

input, textarea, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing
}

textarea {
  height: 100px;
}

input {
  height: auto !important;
}

/* testing stuff */ 