// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* mixins, variables, etc. */
$orange: #CD2C00;
$georgia: Georgia, serif;

.home_container {
  width: 899px; 
  margin: 30px auto 0;
}

.random_and_recent_box {
  width: 745px; 
  float: left; 
  margin-left: 10px; 
  padding: 10px 10px; 
  background: #373737;
}

.feature_header {
  color: white;
  background: red;
  height: 35px;
  font-family: $georgia;
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 15px;
  padding-top: 5px;
}

.random_container {
  background: gray;
  color: white;
  height: 685px;
  .picture_padding {
    padding: 5px;
  }
  .picture_padding_float_left {
    padding: 5px;
    float: left;
  }
  .picture_padding_random {
    padding-left: 5px;
    margin-right: -4px;
    margin-top: 0px;
  }
  figure {
    position: relative;
  }
  a {
    .random_figcaption_large_landscape {
      position: absolute;
      bottom: 0px;
      width: 715px;
      padding: 5px 10px;
      margin-left: 5px;
      margin-bottom: 5px;
      background: rgba(10,10,10,0.3); 
      color: white;
      font-family: $georgia;
      font-size: 1.4em;
      border-left: 5px solid transparent;
      transition: 0.5s;
    }
    .random_figcaption_large_portriat {
      position: absolute;
      bottom: -685px;
      width: 375px;
      padding: 5px 10px;
      margin-left: 5px;
      margin-bottom: 5px;
      background: rgba(10,10,10,0.3); 
      color: white;
      font-family: $georgia;
      font-size: 1.4em;
      border-left: 5px solid transparent;
      transition: 0.5s;
    }
  }
  a:hover {
    .random_figcaption_large_landscape, .random_figcaption_large_portriat {
      border-left: 5px solid red;
    }
  }
  ul {
    margin-left: -40px;
    .float_left {
      float: left;
      a {
        margin-right: 5px;
        .random_figcaption_landscape {
          position: absolute;
          bottom: 0px;
          width: 355px;
          padding: 5px 10px;
          margin-left: 5px;
          background: rgba(10,10,10,0.3); 
          color: white;
          border-left: 3px solid transparent;
          transition: 0.5s;
        }
      }
      a:hover {
        .random_figcaption_landscape {
          border-left: 3px solid red;
        }
      }
    }
    .no_float {
      a {
        .random_figcaption_portriat {
          position: absolute;
          margin-top: -34px;
          width: 335px;
          padding: 5px 10px;
          margin-left: 385px;
          background: rgba(10,10,10,0.3); 
          color: white;
          border-left: 3px solid transparent;
          transition: 0.5s;
        }
      }
      a:hover {
        .random_figcaption_portriat {
          border-left: 3px solid red;
        }
      }
    }
  }
}

.recent_header {
  color: red;
  background: white;
  height: 35px;
  font-family: $georgia;
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 15px;
  padding-top: 5px;
  margin-top: 10px;
  margin-bottom: -10px;
}

.recent_container {
  background: gray;
  color: white;
}

.recent_container_pictures {
  margin-left: 5px; 
  padding-bottom: 5px;
  height: 245px;
  ul {
    margin-left: -40px;
    li {
      float: left;
      figure {
        position: relative;
      }
      a {
        margin-right: 5px;
        .recent_figcaption {
          position: absolute;
          bottom: 0px;
          padding: 5px 10px; 
          width: 235px; 
          background: rgba(10,10,10,0.3); 
          color: white;
          border-left: 3px solid transparent;
          transition: 0.5s;
        }
      }
    }
    li a:hover {
      .recent_figcaption {
        border-left: 3px solid red;
      }
    }
  }
  a {
    margin-right: 5px;
  }
}

.all_entries_box {
  width: 134px;
  height: 1030px;
  background: #373737;
  margin-left: 755px;
  padding-top: 10px;
}

.all_entries_heading {
  width: 124px;
  font-family: $georgia;
  font-size: 1.2em;
  background: black;
  color: red;
  border-bottom: 1px solid red;
  border-left: 3px solid red;
  padding-left: 10px;
}

.all_entries {
  width: 124px;
  background: white;
  height: 985px; 
  overflow: auto;
  border-left: 3px solid gray;
  border-right: 3px solid gray;
  border-bottom: 3px solid gray;
  ol {
    list-style: none;
    margin-left: -27px;
  }
}