// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.picture_show {
  width: 889px; 
  background: white; 
  margin: 30px auto;
}

.picture_show_vertical {
  float: left;
}

.portrait_pointer {
  padding-top: 400px
}

#newer_portrait {
  width: 195px; 
  height: 889px; 
  float: left;
}

#newer_portrait_link {
  background: rgba(100,100,100,0.5);
  color: rgba(255,255,255,0.5);
  font-size: 6em;
  height: 889px; 
  width: 195px; 
  display: none;
  cursor: pointer;
}

#older_portrait {
  width: 194px; 
  height: 889px;
  float: right;
}

#older_portrait_link {
  background: rgba(100,100,100,0.5); 
  color: rgba(255,255,255,0.5);
  font-size: 6em;
  height: 889px; 
  width: 194px; 
  display: none;
  cursor: pointer;
}

#newer_link {
  display: none;
  background: rgba(0,0,0,0.33);
  color: rgba(255,255,255,0.5);
  font-size: 6em;
  height: 500px;
  width: 195px;
  position: absolute;
  text-align: center;
  left: 0px;
  top: 0px;
  cursor: pointer;
  padding-top: 180px;
}

#older_link {
  display: none;
  background: rgba(0,0,0,0.33);
  color: rgba(255,255,255,0.5);
  font-size: 6em;
  height: 500px;
  width: 195px;
  position: absolute;
  text-align: center;
  left: 695px;
  top: 0px;
  cursor: pointer;
  padding-top: 180px;
}