<footer class="container navbar-fixed-bottom">
  <div id="footer_style">
    <div id="footer_links">
      <ul>
        <li>
          <%= link_to "About", about_path %>
        </li>
        <li>
          <%= link_to "LinkedIn", 
                      "https://www.linkedin.com/in/au-lee-216779120", 
                      :target => "blank" %>
        </li>
        <li>
          <%= link_to "Source", 
                      "https://bitbucket.org/Evilmuffin/muffin_blog/src", 
                      :target => "blank" %>
        </li>
        <li>
          <%= link_to "Contact", "mailto:leea75hhh@gmail.com", :target => "blank" %>
        </li>
      </ul>
    </div>
  </div>
</footer>
