<header class="navbar-fixed-top">
  <div id="header_style" class="container">
    <h1>
      <font color="red">Evil</font><font color="black">muffin 
      <span class="text_stroke">&&</span> the</font> Munchkin 
      <font color="black">from</font> <font color="red">Hell</font> 
    </h1>
  </div>

</header>

