<div class="clicky">
  <!--
  <ul>
    <div class="button_space"><br></div>
    <li>
      <div id="home_button_space" class="button_out">
        <%= link_to "Home", root_path, data: { no_turbolink: true }, 
                          class: "btn btn-primary", id: "home_button" %>
      </div>
    </li>
    <li>
      <div id="muffin_button_space" class="button_out">
        <%= link_to "Evilmuffin", muffin_path, class: "btn btn-primary",
                                               id: "muffin_button" %>
      </div>
    </li>
    <li>
      <div id="munchkin_button_space" class="button_out">
        <%= link_to "Munchkin", munchkin_path, class: "btn btn-primary",
                                               id: "munchkin_button"%>
      </div>
    </li>
    <li>
      <div id="picture_button_space" class="button_out">
        <%= link_to "Pictures", pictures_path, class: "btn btn-primary", 
                                     id: "picture_button" %>
      </div>
    </li>
    <% if current_user && current_user.admin %>
      <div id="entry_button_space" class="button_out">
        <%= link_to "New Entry", new_entry_path, class: "btn btn-primary",
                                                 id: "entry_button"%>
      </div>
    <% end %>
    <div class="button_space"><br></div>
  </ul>
  
  <div class="sign_in_out">
    <ul>
      <div class="button_space"><br></div>
      <% if current_user %>
        <li>
          <div id="sign_in_out_button_space" class="button_out">
            <%= link_to "Sign out", signout_path, 
                                    data: { no_turbolink: true },
                                    class: "btn btn-primary",
                                    id: "sign_in_out_button" %>
          </div>
        </li>
      <% else %>
        <li>
          <div id="sign_in_out_button_space" class="button_out">
            <%= link_to "Sign in", "/auth/facebook", 
                                   class: "btn btn-primary",
                                   id: "sign_in_out_button" %>
          </div>
        </li>
      <% end %>
      <div class="button_space"><br></div>
    </ul>
  </div>
  -->
</div>

<!--
<script>
  function buttonOver(){
    $(this).addClass("button_over");
    $(this).removeClass("button_out");
  };
  
  function buttonOut(){
    $(this).addClass("button_out");
    $(this).removeClass("button_over");
  };
  
  $(document).ready(function(){
    $('#home_button_space').mouseover(buttonOver);
    $('#home_button_space').mouseout(buttonOut);
    $('#muffin_button_space').mouseover(buttonOver);
    $('#muffin_button_space').mouseout(buttonOut);
    $('#munchkin_button_space').mouseover(buttonOver);
    $('#munchkin_button_space').mouseout(buttonOut);
    $('#picture_button_space').mouseover(buttonOver);
    $('#picture_button_space').mouseout(buttonOut);
    $('#entry_button_space').mouseover(buttonOver);
    $('#entry_button_space').mouseout(buttonOut);
    $('#sign_in_out_button_space').mouseover(buttonOver);
    $('#sign_in_out_button_space').mouseout(buttonOut);
  });
</script>
-->