<div class="container main_navbar navbar-fixed-top">
  <ul>
    <li id="home_button">
      <%= link_to "Home", root_path, data: { no_turbolink: true } %>
    </li>
    <li id="muffin_button">
      <%= link_to "Evilmuffin", muffin_path %>
    </li>
    <li id="munchkin_button">
      <%= link_to "Munchkin", munchkin_path %>
    </li>
    <li class="dropdown" id="blog_button">
      <a href="#" class="dropbtn">Blogs</a>
      <div class="dropdown-content">
        <%= link_to "Entries", blogs_path, data: { no_turbolink: true } %>
        <%= link_to "Pictures", pictures_path %>
        <% if current_user && current_user.admin %>
          <%= link_to "New", new_entry_path %>
        <% end %>
      </div>
    </li>
    <% if current_user %>
      <li>
        <%= link_to "Sign out", signout_path, data: { no_turbolink: true }%>
      </li>
    <% else %>
      <li>
        <%= link_to "Sign in", "/auth/facebook" %>
      </li>
    <% end %>
  </ul>
  <div class="sign_in_as">
    <% if current_user %>
      <span class="red_text add_margin_right">
        Signed in as:
      </span>
      <span class="white_text add_margin_right">
        <%= image_tag(current_user.avatar, size: "30x30") %>
      </span>
    <% end %>
  </div>
  <div class="icons">
    <ul>
      <li>
        <a href=<%= about_path %> target="blank">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/au-lee-216779120" target="blank">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://bitbucket.org/Evilmuffin/muffin_blog/src" target="blank">
          <i class="fa fa-bitbucket-square" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="mailto:leea75hhh@gmail.com" target="blank">
          <i class="fa fa-envelope-square" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
    <div class="fb_like_and_share">
      <div class="fb-like" data-href="http://muffin-blog.herokuapp.com/" 
                           data-layout="button_count" 
                           data-action="like" 
                           data-size="small" 
                           data-show-faces="false" 
                           data-share="true">
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    var path = window.location.pathname;
    function activeLink(id){
      $(id).toggleClass("active_button");
    };
    if (path == "/") 
      activeLink("#home_button");
    else if (path == "/muffin")
      activeLink("#muffin_button");
    else if (path == "/munchkin")
      activeLink("#munchkin_button");
    else if (path.indexOf("/pictures") >= 0)
      activeLink("#blog_button");
    else if (path.indexOf("/blogs") >=0 )
      activeLink("#blog_button");
    else if (path == "/new_entry")
      activeLink("#blog_button");
  });
</script>