<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 
                               'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
        </script>
    <![endif]-->
    <!--%= favicon_link_tag 'favicon.ico' % -->
    <meta name="viewport"       content="width=device-width, initial-scale=1" />
    <meta property="og:url"     content="http://muffin-blog.herokuapp.com/" />
    <meta property="og:type"    content="website" />
    <meta property="og:title"   content="Evilmuffin && the Munchkin from Hell" />
    <meta property="og:description"   content="The life of Evilmuffin his little Munchkin" />
    <meta property="og:image"         content=<%= asset_path("muffin.jpg") %> />
    <meta property="fb:app_id" content="1700384183556431" />
    
    <script src="https://use.fontawesome.com/741df4f831.js"></script>
  </head>
  <body>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=1700384183556431";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
      
    <%= render 'layouts/header' %>
    <%= render 'layouts/navbar' %>
    
    <div class="container" id=main_panel>
      

        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        <%= yield %>

      
    </div>  
  
  </body>
</html>
